requests
python-dotenv
pyrebase4
pypdf2
sentence-transformers
faiss-cpu
spacy
flask
flask-restx
google-generativeai
langchain-google-genai
flask-cors
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
